
.jumbotron {

    padding-top: 5rem  ;
    background-color: #e2e2e2;
}
#product {
    background-color: #e9e9e9; 
}
footer p {
    background-color: #1e6914;
    text-decoration-color: white;
}
section {
    padding-top: 5rem;
}
.galery-img  {
    width: 100%;
}
#galery .row > * {
    padding: 0;
}

/* my tshirt */ 
.tshirt-box {
    position: relative;
    background-color: #1e6914;
    border-radius: 10px;
    height: 500px;

}
.tshirt-box::before {
    content: 'My';
    position: absolute;
    color: white;
    font-size: 6em;
    font-weight: bold;
    font-style: italic;
    top: 30px;
    left: -100px;
    opacity: 0;
    transition: 0.5s;



}
.tshirt-box:hover::before {
    left: 50%;
    transform: translate(-50%,0);
    opacity: 0.2;
}
